*{
    box-sizing:border-box;
  }
  body{
    background:#f1f2f3;
    margin:0;
    padding:0;
    font-family:'arial',sans-serif;
    color:#fff;
  }
  img{
    max-width:100%;
  }
  #wrap{
    width:90%;
    display:block;
    margin:20px auto;
  }
  #quad_deals{
    float:left;
    width:100%;
    min-height:300px;
    height:auto;
    display:block;
  }
  .deal{
    display:block;
    width:50%;
    height:50%;
    min-height:150px;
    padding:10px;
    float:left;
    background:rgba(0,0,0,0.7);
  }
  .product_img{
    display:block;
    float:left;
    padding:10px;
    position:relative;
    width:30%;
    height:140px;
    overflow:hidden;
    box-shadow:1px 2px 3px rgba(0,0,0,0.2);
  }
  .product_img img{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:300px;
    box-shadow:1px 2px 3px rgba(0,0,0,0.2);
  }
  .options{
    width:70%;
    float:left;
    display:block;
    padding-left:10px;
    padding-right:10px;
  }
  .title{
    display:block;
    float:left;
    font-weight:bold;
    margin-top:0;
  }
  .details{
    display:block;
    float:left;
    font-size:.8em;
  }
  .action{
    width:100%;
    display:block;
    float:left;
    margin-top:7px;
  }
  .action .button{
    display:inline-block;
    padding:10px;
    background:salmon;
    text-decoration:none;
    color:#FFF;
    text-shadow:1px 2px 3px rgba(0,0,0,0.5);
    box-shadow:1px 2px 3px rgba(0,0,0,0.2);
    border-radius:2px;
    margin:0 1%;
    
  }
  @media (max-width:768px){
    #wrap{
     width:100%;
    }
    .deal{
      width:50%;
      height:auto;
      min-height:300px;
      float:left;
      display:block;
    }
    .product_img{
      width:80%;
      height:225px;
      display:block;
      float:none;
      margin:10px auto;
    }
    .details{
      display:none;
    }
    .options{
      width:100%;
    }
    .action{
      width:100%;
    }
    .action .button{
      width:90%;
      display:block;
      margin-bottom:10px;
      text-align:center;
  }
  
  }  