.page{
    width: 100%;
    padding: 2em 4em;
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap ;
    margin: 0 auto;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .page {
      padding: .4em;
    }
  }
@media only screen and (max-width: 1100) {
    .page {
      padding: 1em 2em;
    }
  }